* {
    font-family: 'Roboto', sans-serif;
}

body{
    border-style: solid;
    border-width: 1px;
    padding: 4px;
    border-radius: 4px;
    padding-bottom: 8px;
    width: 1460px;
}

img{
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 95px;
    object-fit: cover;
    padding: 5px;
}

table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 4px;
}

th{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-width: 2px;
    border-left: none;
    border-right: none;
    border-color: rgb(172, 172, 172);
}

#bar_line_chart_and_table_wrapper{
    width: 700px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

#bar_chart_wrapper{
    width: 100%;
    height: 33%;
}

#bar_chart_svg{
    width: 100%;
    height: 100%;
}

#barUnitsKey{
    font-size: 8pt;
}

#button_and_slider_wrapper{
    display: flex;
    flex-direction: row;
}

#clear_selection_button{
    font-family: monospace;
}

#clear_selection_button_wrapper{
    width: 18%;
    height: 50px;
    margin-right: 10px;
}

#crop_list_ul{
    display: grid;
    height: 500px;
    width: 100%;
    overflow: hidden; 
    overflow-y: scroll;
    list-style-type: none;
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;
    padding-inline-start: unset;
}

#crop_list_and_guided_tours_wrapper{
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-width: 1px;
    padding-top: 5px;
}

#crop_list_wrapper{
    width: 50%;
    height: 100%;
}

#faostatCitation{
    margin-left: 110px;
    font-variant: small-caps;
}

#guided_tours_heading{
    font-size: 150%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 2px;
    font-family: Baskerville;
}

#guided_tours_wrapper{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#guided_tours_images_wrapper{
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

#info{
    display: inline-block;
    margin-left: 170px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
}

#line_chart_svg{
    width: 100%;
    height: 100%;
}

#line_chart_wrapper{
    width: 100%;
    height: 33%;
}

#lineUnitsKey{
    font-size: 8pt;
}

#map_and_crop_and_tours_wrapper{
    display: flex;
    flex-direction: column;
    width: 730px;
    height: 1000px;
    border-style: solid;
    border-right-width: 1px;
    border-left: none;
    border-bottom: none;
    border-top: none;
    padding-right: 10px;
}

#map_wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
}

#map_div{
    width: 100%;
    height: 450px;
}

#map_SVG{
    width: 100%;
    height: 100%;
}

#pexelsCitation{
    font-size: 8pt;
}

#slider_SVG{
    width: 80px;
    height: 25px;
}

#table_wrapper{
    width: 100%;
    height: 33%;
    padding-top: 15px;
    overflow: hidden; 
    overflow-y: scroll;
}

#title{
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
}

#wrapper{
    width: auto;
    display: flex;
    flex-direction: row;
    height: 1000px;
}

#year_slider_wrapper{
    width: 80%;
    height: 50px;
    display: flex;
    flex-direction: column;
}

.barLabel{
    font-size: 9pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.boundary {
    fill: white;
    stroke: black;
    stroke-width: .3px;
}

.clickedCropLi{
    color: rgb(255, 249, 213);
    background-color: rgb(91, 143, 6);
    padding: 5px;
    font-size: 13pt;
    border-radius: 5px;
}

.countryNameTd{
    border-right-width: 2px;
    border-right-color: rgb(172, 172, 172);
}

.graticule {
    fill: none;
    stroke: #777;
    stroke-width: .5px;
    stroke-opacity: .2;
    pointer-events: none;
}

.graticule_outline { 
    stroke: #000;
    fill: none;
    stroke-opacity: 0.5;
    stroke-width: 2px; 
} 

.header{
    margin-bottom: 10px;
    border-style: solid;
    border-width: 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 4px;
    padding-top: 0px;
}

.line{
    stroke-width: 1.5px;
    fill: none;
}

.mouseoverLine{
    stroke-width: 6px;
}

.mouseoverRect{
    stroke: darkgray;
    stroke-width: 7;
}

.overlay{
    position: absolute;
    height: 450px;
    width: 350px;
    background-image: linear-gradient(to bottom, rgba(255,255,255,1) 45%, rgba(255,255,255,0.0));
    padding: 25px;
}

.overlayHeading{
    font-size: 16pt;
}

.overlayTextCitation{
    font-size: 8pt;
}

.slider_label{
    width: 80px;
    height: 25px;
}